/* Main colors */

$color-headline-primary: #58e1c1;
$color-p: #777;
$color-background-button: #51ddfc;
$color-error: #e4757a;
$color-info: #927bc1;

/* Media Queries breakpoints */

$lg: 768px;

/* Width */

$max-width: 100%;
